// ===========================
// Template Global Settings
// ===========================
$tm-font-family: "Work Sans", sans-serif;
$tm-font-size: 16px;
$tm-body-font-weight: 400;
$tm-line-height: 1.5;

// ===========================
// COLOR & BACKGROUND
// ===========================
$tm-color: #4a4a4a;
$tm-background: #fcfcfc;
$tm-primary-color: #fddf00;
$tm-primary-background: #ec2178;
$tm-secondary-background: #4da4b0;
$icon-button-background:red;
$tm-border-width: 200px;
$tm-muted-color: #fddf00;

// ===========================
// LINK
// ===========================
// $tm-link-color: $tm-primary-background;
// $tm-link-hover-color: $tm-secondary-background;
// $tm-link-hover-text-decoration: none;

// ===========================
// BORDER
// ===========================
// $heading-bullet-border: $tm-primary-background;
// $tm-border: $tm-primary-background;

// ===========================
// SELECTION
// ===========================
// $tm-selection-color: #212121;
// $tm-selection-background: #fffc16;

// ===========================
// HEADING
// ===========================
$tm-heading-font-family: "Roboto", sans-serif;
$tm-heading-font-weight: 500;
$tm-heading-color: #4e4b4b;
$heading-line-width:200px;
$heading-xlarge-font-size-l: 114px;
$heading-xlarge-font-size-m: 114px;
$heading-xlarge-font-size-s: 114px;

// ===========================
// CONTAINER
// ===========================
// $container-large-max-width: 1360px;

// ===========================
// OFFCANVAS
// ===========================
// $offcanvas-bar-background: #fff;
